@model IEnumerable<StoreMoovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="movies"class="table">
     <thead>
        <tr>
           <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
   
</table>
    @section scripts{
<script>
    $(document).ready(function () {

        $("#movies").DataTable({
            ajax: {
                url: "/api/movies",
                dataSrc: ""
            },
            columns: [
                {
                    data: "name",
                    render: function (data, type, movie) {
                        return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                    }
                },

                {
                    data: "genres.name"
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                    }
                }



            ]
        });
        $("#movies").on("click", ".js-delete", function () {
            var button = $(this);

            if (confirm("êtes vous sur de vouloir supprimer l'utilisateur")) {
                $.ajax({
                    url: "/api/movies/" + $(this).attr("data-movie-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                    }
                })
            }
        });
    });
          //bootbox.alert("êtes vous sur de vouloir supprimer l'utilisateur", function (result) {
            //    if (result) {
            //        $.ajax({
            //            url: "/api/customers/" + $(this).attr("data-customer-id"),
            //            method: "DELETE",
            //            success: function () {
            //                button.parents("tr").remove();
            //            }
            //            });
            //            }
            //        });
            //    });
            //});
</script>
 }
  